<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Image</title>
  <link rel="stylesheet" href="assets/css/reset.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">
    <div :class="['global', {'active': isActive, 'inactive': !isActive}]">
      <div class="global__container">
        <header class="header">
          <div class="header__image"></div>
          <h2 class="header__sub" v-if="isInitialized">写真を検索する</h2>
          <h2 class="header__sub not" v-else-if="isNotFound">写真が見つかりませんでした。<br>別の言葉で検索してみてください</h2>
          <div class="header__container">
            <h2 class="header__title">写真を検索する</h2>
            <form class="header__form" @submit.prevent="fetchImagesFromFlickr">
              <input class="header__search" type="search" name="search" placeholder="検索テキストを入力">
              <button class="header__submit" type="submit">
                <img src="assets/img/search.png" alt="検索">
              </button>
            </form>
            <p class="header__text" v-if="isInitialized">検索してください</p>
            <p class="header__text" v-else-if="isFetching">検索中です</p>
            <p class="header__text" v-else-if="isFailed">データの取得に失敗しました。しばらく時間を置いてから、再度お試しください</p>
            <p class="header__text" v-else-if="isNotFound">写真が見つかりませんでした。<br>別の言葉で検索してみてください</p>
          </div>
          <div class="header__scroll" v-if="isFound">
            <span>Scroll</span>
          </div>
        </header>
        <main class="main">
          <div id="gallery" class="gallery">
            <div class="gallery__box">
              <template v-if="isFound">
                <div class="gallery__area">
                  <a
                    v-for="photo in photos"
                    :key="photo.id"
                    :href="photo.pageURL"
                    v-tooltip="photo.text"
                    class="gallery__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <img
                      :src="photo.imageURL"
                      :alt="photo.text"
                      width="150"
                      height="150"
                    >
                  </a>
                  <div class="gallery__empty" v-for="photo in photos"></div>
                </div>
              </template>
            </div>
          </div>
        </main>
        <footer class="footer">
          <small class="footer__copy">&copy Search Image</small>
        </footer>
        <div class="global__page-top" @click="onClickPageTop">
          <a href="#">Page Top</a>
        </div>
        <div class="global__icon" @click="onClickToggle">
          <img src="assets/img/search.png" alt="検索">
        </div>
        <div class="global__cover" @click="onClickClose"></div>
      </div>
      <div class="global__wrapper">
        <div class="global__btn" @click="onClickClose">
          <span></span><span></span>
        </div>
        <div class="global__box">
          <h2 class="global__title">写真を検索する</h2>
          <form class="global__form" @submit.prevent="fetchImagesFromFlickr">
            <input class="global__search" type="search" name="search" placeholder="検索テキストを入力">
            <button class="global__submit" type="submit" @click="onClickClose">
              <img src="assets/img/search.png" alt="検索する">
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>