@media (min-width: 1024px) {
  .global {
    &__icon {
      display: none;
    }
  }

  .header {
    &__container {
      display: block;
    }

    &__sub {
      display: none;
    }
  }

  .gallery {
    margin: 0 auto;
    max-width: 1296px;
  }
}